Node
//      two:function(callback){
    //          userModel.find().sort({_id:-1}).limit(1)
    //          .then((result)=>{
    //              const user_id=result[0]._id;
        //          console.log('my data',user_id);
        //          // userModel.create({
        //          //  name:req.body.name,
        //          //  email:req.body.email,
        //          //  password:req.body.password,
        //          //  confirm_password:req.body.confirm_password,
        //          //  mobile:req.body.mobile,
        //          //  user_id:user_id
        //          // });
        //      });
        //          }
        // });
    
    

/*getSignup(e){
    e.preventDefault();
    this.name=this.refs.name.value;
    this.email=this.refs.email.value;
    this.password=this.refs.password.value;
    this.confirm_password=this.refs.confirm_password.value;
    this.doj=this.refs.doj.value;
    this.mobile=this.refs.mobile.value;

    axios.post('http://localhost:5000/api/signup', {
        name:this.name,
        email:this.email,
        password: this.password,
        confirm_password:this.confirm_password,
        doj:this.doj,
        mobile:this.mobile
    })
    .then(function (response) {
    //console.log(response);
    //window.location.href="/Dashboard";
    //this.props.history.push('/Dashboard');
    //let email=response.data[0].data.email;
    //localStorage.setItem('mydata', email);
    })
    .catch(function(err){
    console.log("error");    
    });
}*/


<div id="page-wrapper">
            <Header/>
            <div className="row">
            <div className="col-md-3">
            <LeftBar/>
            </div>
            <div className="col-md-9">
            <center>
                <div className="row">
                    <div className="col-lg-12">
                        <h1 className="page-header">Create Quiz</h1>
                    </div>
                    <div className="row">
                        <div className="col-lg-6">
                            <div className="panel panel-default">
                                <div className="panel-body">
                                    <div className="row">
                                        <div className="col-lg-12">
                                            <form role="form">
                                                <div className="form-group">
                                                    <label>Quiz Name</label>
                                                    <input className="form-control"/>
                                                    <p className="help-block">Example Movies</p>
                                                </div>
                                                <div className="form-group">
                                                    <label>Topic</label>
                                                    <input className="form-control"/>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>
                    <div className="row">
                        <div className="col-lg-12">
                            <div className="panel panel-default">
                                <div className="panel-body">
                                    <div className="row">
                                        <div className="col-lg-12">
                                            <form role="form">
                                                <div className="form-group">
                                                    <p className="help-block">Question 1</p>
                                                    <input className="form-control"/>
                                                </div>
                                            </form>
                                        </div>
                                        <div className="col-lg-3">
                                            <form role="form">
                                                <div className="form-group">
                                                    <p className="help-block">Correct answer</p>
                                                    <input className="form-control"/>
                                                    <p className="help-block">Incorrect answer 1</p>
                                                    <input className="form-control"/>
                                                    <p className="help-block">Incorrect answer 2</p>
                                                    <input className="form-control"/>
                                                    <p className="help-block">Incorrect answer 3</p>
                                                    <input className="form-control"/>
                                                </div>
                                                <center>
                                                    <div> 
                                                        <button type="submit" className="btn btn-default">Submit Button</button>
                                                        <button type="reset" className="btn btn-default">Reset Button</button>
                                                    </div>
                                                </center>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
                </center>
                </div>
                
                </div>

            </div>